pipeline/day_wise_oData_QA_pipeline.json
{
	"name": "day_wise_oData_QA_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flag'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CurrentEndDateVal",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "tmp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EndDateVal",
								"value": {
									"value": "@addToTime(variables('tmpVal'), 1, 'Day')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "tmp",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tmpVal",
								"value": {
									"value": "@variables('EndDateVal')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "rmX",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(addHours(variables('tt'),0),addHours(variables('tmpVal'),0)) , 'true', 'false')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ODataSource",
												"query": {
													"value": "$filter=Invoicecrdate eq datetime'@{variables('rm')}'",
													"type": "Expression"
												},
												"httpRequestTimeout": "05:05:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"validateDataConsistency": false
										},
										"inputs": [
											{
												"referenceName": "DS_ODataResource_hana",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AzureSqlTable",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flag",
											"value": {
												"value": "@bool('true')",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CurrentEndDateVal",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tt",
								"value": {
									"value": "@variables('newEndTime')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "rmX",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "tmp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "rm",
								"value": {
									"value": "@substring(variables('tmpVal'), 0, 18)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"P_StartDate": {
				"type": "string",
				"defaultValue": "2019-11-01T00:00:00Z"
			},
			"P_EndDate": {
				"type": "string",
				"defaultValue": "2019-12-30T00:00:00Z"
			}
		},
		"variables": {
			"EndDateVal": {
				"type": "String",
				"defaultValue": "2019-11-01T00:00:00Z"
			},
			"tmpVal": {
				"type": "String",
				"defaultValue": "2019-11-01T00:00:00Z"
			},
			"flag": {
				"type": "Boolean",
				"defaultValue": false
			},
			"newEndTime": {
				"type": "String",
				"defaultValue": "2019-12-31T00:00:00Z"
			},
			"tt": {
				"type": "String"
			},
			"rm": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-24T10:06:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}