pipeline/pipeline5_copy1.json
{
	"name": "pipeline5_copy1",
	"properties": {
		"activities": [
			{
				"name": "Until1_copy1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(int(variables('counter')),10) , bool('true'), bool('false'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "counter_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@variables('tmpCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "tmp_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "counter_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tmpCounter",
								"value": {
									"value": "@string(add(int(variables('counter')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Skip_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "tmp_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "skip",
								"value": {
									"value": "@string(add(int(variables('top')),100000))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Top_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Skip_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "top",
								"value": {
									"value": "100000",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Top_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ODataSource",
									"query": {
										"value": "$filter=CreAt eq datetime'@{pipeline().parameters.pp}'&$skip=@{variables('skip')}&$top=@{variables('top')}",
										"type": "Expression"
									},
									"httpRequestTimeout": "00:30:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SAP_oData_CustomerMaster",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureSqlTable_Dynmamic",
									"type": "DatasetReference",
									"parameters": {
										"SQLTableName": "CustomerMaster"
									}
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"pp": {
				"type": "string"
			}
		},
		"variables": {
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"tmpCounter": {
				"type": "String",
				"defaultValue": "0"
			},
			"skip": {
				"type": "String",
				"defaultValue": "0"
			},
			"top": {
				"type": "String",
				"defaultValue": "-100000"
			}
		},
		"annotations": []
	}
}