pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(int(variables('counter')),10) , bool('true'), bool('false'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "counter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@variables('tmpCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "tmp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "counter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tmpCounter",
								"value": {
									"value": "@string(add(int(variables('counter')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Skip",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "tmp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "skip",
								"value": {
									"value": "@variables('skipTmp')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "skipTmp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Skip",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "skipTmp",
								"value": "@string(add(int(variables('skip')),100000))"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"tmpCounter": {
				"type": "String",
				"defaultValue": "0"
			},
			"skip": {
				"type": "String",
				"defaultValue": "0"
			},
			"top": {
				"type": "String",
				"defaultValue": "100000"
			},
			"skipTmp": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}