pipeline/PL_CustomerAging_Load_DateRange_oData_SQL.json
{
	"name": "PL_CustomerAging_Load_DateRange_oData_SQL",
	"properties": {
		"activities": [
			{
				"name": "updateWaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "New Watermark Date Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_update_watermark]",
					"storedProcedureParameters": {
						"TabName": {
							"value": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModifiedDate": {
							"value": {
								"value": "@activity('New Watermark Date Value').output.firstRow.maxDate",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"LastModifiedtime": {
							"value": "00:00:00",
							"type": "Timespan"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "New Watermark Date Value",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy customerAging to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(Asondate ) as maxDate FROM [dbo].[CustomerAging]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_startdate",
					"value": {
						"value": "@substring(pipeline().parameters.P_TillDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delete old records",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_DeleteTable_DateRange]",
					"storedProcedureParameters": {
						"D_StartDate": {
							"value": {
								"value": "@variables('d_startdate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"D_EndDate": {
							"value": {
								"value": "@variables('d_startdate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							},
							"type": "String"
						},
						"D_ColName": {
							"value": "Asondate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy customerAging to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "delete old records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"httpRequestTimeout": "00:30:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true
				},
				"inputs": [
					{
						"referenceName": "DS_SAP_oData_Aging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSqlTable_Dynmamic",
						"type": "DatasetReference",
						"parameters": {
							"SQLTableName": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"P_TillDate": {
				"type": "string",
				"defaultValue": "2019-11-01T00:00:00Z"
			}
		},
		"variables": {
			"flag": {
				"type": "Boolean",
				"defaultValue": false
			},
			"startValue": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"fromDateRZ": {
				"type": "String"
			},
			"d_startdate": {
				"type": "String"
			},
			"d_enddate": {
				"type": "String"
			},
			"SQL_Table": {
				"type": "String",
				"defaultValue": "CustomerAging"
			}
		},
		"folder": {
			"name": "QA/CstomerAging"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-28T11:02:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}