pipeline/PL_CustomerMaster_Initial_Load_DateRange_oData_SQL.json
{
	"name": "PL_CustomerMaster_Initial_Load_DateRange_oData_SQL",
	"properties": {
		"activities": [
			{
				"name": "Loop Copy Activity",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "startValuefomPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flag'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "fromDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fromDate",
								"value": {
									"value": "@addToTime(variables('startValue'), 1, 'Day')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "startValue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "fromDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "startValue",
								"value": {
									"value": "@variables('fromDate')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "removeZ",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "fromDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fromDateRZ",
								"value": {
									"value": "@substring(variables('fromDate'), 0, 18)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "check startDate endDate",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "removeZ",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "startValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(adddays(variables('startValue'),0),adddays(pipeline().parameters.P_EndDate,1)) , 'true', 'false')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy CustomerMaster to SQL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ODataSource",
												"query": {
													"value": "$filter=CreAt eq datetime'@{variables('fromDateRZ')}'",
													"type": "Expression"
												},
												"httpRequestTimeout": "00:30:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"parallelCopies": 5,
											"enableSkipIncompatibleRow": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Customer",
															"type": "String"
														},
														"sink": {
															"name": "Customer",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SOrg",
															"type": "String"
														},
														"sink": {
															"name": "Sorg",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DC",
															"type": "String"
														},
														"sink": {
															"name": "Dc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DV",
															"type": "String"
														},
														"sink": {
															"name": "Dv",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CrdArea",
															"type": "String"
														},
														"sink": {
															"name": "Crdarea",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SOff",
															"type": "String"
														},
														"sink": {
															"name": "Soff",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Soff_desc",
															"type": "String"
														},
														"sink": {
															"name": "Soff_Desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SalesGroup",
															"type": "String"
														},
														"sink": {
															"name": "Salesgroup",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SGrpDesc",
															"type": "String"
														},
														"sink": {
															"name": "Sgrpdesc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SDst",
															"type": "String"
														},
														"sink": {
															"name": "Sdst",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SDstDesc",
															"type": "String"
														},
														"sink": {
															"name": "Sdstdesc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CC",
															"type": "String"
														},
														"sink": {
															"name": "Cc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CntryName",
															"type": "String"
														},
														"sink": {
															"name": "Cntryname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Cred_Crl_Area_Desc",
															"type": "String"
														},
														"sink": {
															"name": "Cred_Crl_Area_Desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOCG",
															"type": "String"
														},
														"sink": {
															"name": "Jocg",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOCG_VAL",
															"type": "String"
														},
														"sink": {
															"name": "Jocg_Val",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOSG",
															"type": "String"
														},
														"sink": {
															"name": "Josg",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOSG_VAL",
															"type": "String"
														},
														"sink": {
															"name": "Josg_Val",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOIG",
															"type": "String"
														},
														"sink": {
															"name": "Joig",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOIG_VAL",
															"type": "String"
														},
														"sink": {
															"name": "Joig_Val",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOUG",
															"type": "String"
														},
														"sink": {
															"name": "Joug",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "JOUG_VAL",
															"type": "String"
														},
														"sink": {
															"name": "Joug_Val",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TCS",
															"type": "String"
														},
														"sink": {
															"name": "Tcs",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TCS_VAL",
															"type": "String"
														},
														"sink": {
															"name": "Tcs_Val",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Reg",
															"type": "String"
														},
														"sink": {
															"name": "Reg",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RDst",
															"type": "String"
														},
														"sink": {
															"name": "Rdst",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RDstDesc",
															"type": "String"
														},
														"sink": {
															"name": "Rdstdesc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TalCode",
															"type": "String"
														},
														"sink": {
															"name": "Talcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Talukk_Desc",
															"type": "String"
														},
														"sink": {
															"name": "Talukk_Desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ADA_Code",
															"type": "String"
														},
														"sink": {
															"name": "Ada_Code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ADA_Desc",
															"type": "String"
														},
														"sink": {
															"name": "Ada_Desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "BPCode",
															"type": "String"
														},
														"sink": {
															"name": "Bpcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustName",
															"type": "String"
														},
														"sink": {
															"name": "Custname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Address1",
															"type": "String"
														},
														"sink": {
															"name": "Address1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Address2",
															"type": "String"
														},
														"sink": {
															"name": "Address2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Address3",
															"type": "String"
														},
														"sink": {
															"name": "Address3",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustCity",
															"type": "String"
														},
														"sink": {
															"name": "Custcity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustDist",
															"type": "String"
														},
														"sink": {
															"name": "Custdist",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PinCode",
															"type": "String"
														},
														"sink": {
															"name": "Pincode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TelNum1",
															"type": "String"
														},
														"sink": {
															"name": "Telnum1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "MobNum",
															"type": "String"
														},
														"sink": {
															"name": "Mobnum",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "MailID",
															"type": "String"
														},
														"sink": {
															"name": "Mailid",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TinNo",
															"type": "String"
														},
														"sink": {
															"name": "Tinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TaxNo5",
															"type": "String"
														},
														"sink": {
															"name": "Taxno5",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TaxType",
															"type": "String"
														},
														"sink": {
															"name": "Taxtype",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "OrdBlk_Desc",
															"type": "String"
														},
														"sink": {
															"name": "Ordblk_Desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CreBy",
															"type": "String"
														},
														"sink": {
															"name": "Creby",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CreAt",
															"type": "DateTime"
														},
														"sink": {
															"name": "Creat",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "CreOn",
															"type": "TimeSpan"
														},
														"sink": {
															"name": "Creon",
															"type": "TimeSpan"
														}
													},
													{
														"source": {
															"name": "ChnBy",
															"type": "String"
														},
														"sink": {
															"name": "Chnby",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ChnAt",
															"type": "DateTime"
														},
														"sink": {
															"name": "Chnat",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "ChnOn",
															"type": "TimeSpan"
														},
														"sink": {
															"name": "Chnon",
															"type": "TimeSpan"
														}
													},
													{
														"source": {
															"name": "PTerm",
															"type": "String"
														},
														"sink": {
															"name": "Pterm",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Location",
															"type": "String"
														},
														"sink": {
															"name": "Location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Curr",
															"type": "String"
														},
														"sink": {
															"name": "Curr",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "POS",
															"type": "String"
														},
														"sink": {
															"name": "Pos",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "POS_PAN",
															"type": "String"
														},
														"sink": {
															"name": "Pos_Pan",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Payer",
															"type": "String"
														},
														"sink": {
															"name": "Payer",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Payer_Name",
															"type": "String"
														},
														"sink": {
															"name": "Payer_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Btoparty",
															"type": "String"
														},
														"sink": {
															"name": "Btoparty",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "BTParty_name",
															"type": "String"
														},
														"sink": {
															"name": "Btparty_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Stparty",
															"type": "String"
														},
														"sink": {
															"name": "Stparty",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Stparty_name",
															"type": "String"
														},
														"sink": {
															"name": "Stparty_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ContactPerson",
															"type": "String"
														},
														"sink": {
															"name": "Contactperson",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DekApptDate",
															"type": "DateTime"
														},
														"sink": {
															"name": "Dekapptdate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "Fert_Lic_Date",
															"type": "DateTime"
														},
														"sink": {
															"name": "Fert_Lic_Date",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "FertLicExpDate",
															"type": "String"
														},
														"sink": {
															"name": "Fertlicexpdate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "fertlicwholeno",
															"type": "String"
														},
														"sink": {
															"name": "Fertlicwholeno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PestLicno",
															"type": "String"
														},
														"sink": {
															"name": "Pestlicno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "fertlicno",
															"type": "String"
														},
														"sink": {
															"name": "Fertlicno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PLType",
															"type": "String"
														},
														"sink": {
															"name": "Pltype",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Reg_Des",
															"type": "String"
														},
														"sink": {
															"name": "Reg_Des",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ECCNo",
															"type": "String"
														},
														"sink": {
															"name": "Eccno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustAccGrp",
															"type": "String"
														},
														"sink": {
															"name": "Custaccgrp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TransZone",
															"type": "String"
														},
														"sink": {
															"name": "Transzone",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "TransZoneDesc",
															"type": "String"
														},
														"sink": {
															"name": "Transzonedesc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustClass",
															"type": "String"
														},
														"sink": {
															"name": "Custclass",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PanNo",
															"type": "String"
														},
														"sink": {
															"name": "Panno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PTermDesc",
															"type": "String"
														},
														"sink": {
															"name": "Ptermdesc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ExpDate",
															"type": "DateTime"
														},
														"sink": {
															"name": "Expdate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "LegalStatus",
															"type": "String"
														},
														"sink": {
															"name": "Legalstatus",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LegalStatusName",
															"type": "String"
														},
														"sink": {
															"name": "Legalstatusname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PriceGrp",
															"type": "String"
														},
														"sink": {
															"name": "Pricegrp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PrvMstRecNo",
															"type": "String"
														},
														"sink": {
															"name": "Prvmstrecno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "AcAsnGrp",
															"type": "String"
														},
														"sink": {
															"name": "Acasngrp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SearchTerm1",
															"type": "String"
														},
														"sink": {
															"name": "Searchterm1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RetailerId",
															"type": "String"
														},
														"sink": {
															"name": "Retailerid",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "WhlSalId",
															"type": "String"
														},
														"sink": {
															"name": "Whlsalid",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ACC",
															"type": "Boolean"
														},
														"sink": {
															"name": "Acc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SCC",
															"type": "Boolean"
														},
														"sink": {
															"name": "Scc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "OASA",
															"type": "String"
														},
														"sink": {
															"name": "Oasa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "OSSA",
															"type": "String"
														},
														"sink": {
															"name": "Ossa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "AADF",
															"type": "Boolean"
														},
														"sink": {
															"name": "Aadf",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SSDF",
															"type": "Boolean"
														},
														"sink": {
															"name": "Ssdf",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SCDF",
															"type": "Boolean"
														},
														"sink": {
															"name": "Scdf",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DASA",
															"type": "String"
														},
														"sink": {
															"name": "Dasa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DSSA",
															"type": "String"
														},
														"sink": {
															"name": "Dssa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "BASA",
															"type": "String"
														},
														"sink": {
															"name": "Basa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "BSSA",
															"type": "String"
														},
														"sink": {
															"name": "Bssa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ASA",
															"type": "String"
														},
														"sink": {
															"name": "Asa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SSA",
															"type": "String"
														},
														"sink": {
															"name": "Ssa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CDB",
															"type": "Boolean"
														},
														"sink": {
															"name": "Cdb",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SCDB",
															"type": "Boolean"
														},
														"sink": {
															"name": "Scdb",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Plant",
															"type": "String"
														},
														"sink": {
															"name": "Plant",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ValArea",
															"type": "String"
														},
														"sink": {
															"name": "Valarea",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PlntAsCust",
															"type": "String"
														},
														"sink": {
															"name": "Plntascust",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PlntAsVend",
															"type": "String"
														},
														"sink": {
															"name": "Plntasvend",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "PlntRegio",
															"type": "String"
														},
														"sink": {
															"name": "Plntregio",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "GSTIN_Tax3",
															"type": "String"
														},
														"sink": {
															"name": "Gstin_Tax3",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "BusPlace",
															"type": "String"
														},
														"sink": {
															"name": "Busplace",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "BankGrnt",
															"type": "Decimal"
														},
														"sink": {
															"name": "Bankgrnt",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "SecDep",
															"type": "Decimal"
														},
														"sink": {
															"name": "Secdep",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "TrdDep",
															"type": "Decimal"
														},
														"sink": {
															"name": "Trddep",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_0000",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_0000",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1001",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1001",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1002",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1002",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1003",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1003",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1004",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1004",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1005",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1005",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1006",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1006",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1007",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1007",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1008",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1008",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1010",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1010",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1012",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1012",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1020",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1020",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_1500",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_1500",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_3000",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_3000",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_3002",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_3002",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_4010",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_4010",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_4020",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_4020",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt_5000",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt_5000",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "crlmt",
															"type": "Decimal"
														},
														"sink": {
															"name": "Crlmt",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "IndLmt",
															"type": "Decimal"
														},
														"sink": {
															"name": "Indlmt",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "TotAmt",
															"type": "Decimal"
														},
														"sink": {
															"name": "Totamt",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "RiskCat",
															"type": "String"
														},
														"sink": {
															"name": "Riskcat",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "GSTPANCHK",
															"type": "String"
														},
														"sink": {
															"name": "Gstpanchk",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "ContractPerName",
															"type": "String"
														},
														"sink": {
															"name": "Contractpername",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "MfmsRTMob",
															"type": "String"
														},
														"sink": {
															"name": "Mfmsrtmob",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "MfmsWHMob",
															"type": "String"
														},
														"sink": {
															"name": "Mfmswhmob",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustGroup",
															"type": "String"
														},
														"sink": {
															"name": "Custgroup",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pltyp",
															"type": "String"
														},
														"sink": {
															"name": "Pltyp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "AccGrpDesc",
															"type": "String"
														},
														"sink": {
															"name": "Accgrpdesc",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SAP_oData_CustomerMaster",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AzureSqlTable_Dynmamic",
												"type": "DatasetReference",
												"parameters": {
													"SQLTableName": {
														"value": "@variables('SQL_Table')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Execute Pipeline Failed",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "delete old records_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_Failedprocess_by_1L_records",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"pp": {
													"value": "@variables('fromDateRZ')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "delete old records_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy CustomerMaster to SQL",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SP_DeleteTable_DateRange]",
											"storedProcedureParameters": {
												"D_StartDate": {
													"value": {
														"value": "@variables('d_startdate')",
														"type": "Expression"
													},
													"type": "String"
												},
												"D_EndDate": {
													"value": {
														"value": "@variables('d_startdate')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@variables('SQL_Table')",
														"type": "Expression"
													},
													"type": "String"
												},
												"D_ColName": {
													"value": "CreAt",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSqlDatabase",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "set Flag",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flag",
											"value": {
												"value": "@bool('true')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.00:00:00"
				}
			},
			{
				"name": "startValuefomPipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "delete old records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startValue",
					"value": {
						"value": "@subtractFromTime(pipeline().parameters.P_StartDate, 0, 'Day')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "updateWaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "New Watermark Time Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_update_watermark]",
					"storedProcedureParameters": {
						"TabName": {
							"value": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModifiedDate": {
							"value": {
								"value": "@activity('New Watermark Date Value').output.firstRow.maxDate",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"LastModifiedtime": {
							"value": {
								"value": "@activity('New Watermark Time Value').output.firstRow.maxTime",
								"type": "Expression"
							},
							"type": "Timespan"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "New Watermark Date Value",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Loop Copy Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(Creat ) as maxDate FROM [dbo].[CustomerMaster]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "New Watermark Time Value",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "New Watermark Date Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(Creat) as maxTime FROM [dbo].[CustomerMaster] where Creat= ( select MAX(Creat ) FROM [dbo].[CustomerMaster])",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_startdate",
					"value": {
						"value": "@substring(pipeline().parameters.P_StartDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Enddate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_enddate",
					"value": {
						"value": "@substring(pipeline().parameters.P_EndDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delete old records",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Enddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_DeleteTable_DateRange]",
					"storedProcedureParameters": {
						"D_StartDate": {
							"value": {
								"value": "@variables('d_startdate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"D_EndDate": {
							"value": {
								"value": "@variables('d_enddate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							},
							"type": "String"
						},
						"D_ColName": {
							"value": "CreAt",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_StartDate": {
				"type": "string",
				"defaultValue": "2019-11-01T00:00:00Z"
			},
			"P_EndDate": {
				"type": "string",
				"defaultValue": "2021-07-25T00:00:00Z"
			}
		},
		"variables": {
			"flag": {
				"type": "Boolean",
				"defaultValue": false
			},
			"startValue": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"fromDateRZ": {
				"type": "String"
			},
			"d_startdate": {
				"type": "String"
			},
			"d_enddate": {
				"type": "String"
			},
			"SQL_Table": {
				"type": "String",
				"defaultValue": "CustomerMaster"
			},
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"tmpCounter": {
				"type": "String",
				"defaultValue": "0"
			},
			"skip": {
				"type": "String",
				"defaultValue": "0"
			},
			"top": {
				"type": "String",
				"defaultValue": "-100000"
			}
		},
		"folder": {
			"name": "QA/CustomerMaster"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-28T11:02:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}