pipeline/PL_InvoiceSales_Load_DateRange_oData_Datalake.json
{
	"name": "PL_InvoiceSales_Load_DateRange_oData_Datalake",
	"properties": {
		"activities": [
			{
				"name": "StartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_startdate",
					"value": {
						"value": "@substring(pipeline().parameters.P_StartDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Enddate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_enddate",
					"value": {
						"value": "@substring(pipeline().parameters.P_EndDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy PaymentDetails to SQL_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Enddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"query": {
							"value": "$filter=Invoicecrdate ge datetime'@{variables('d_startdate')}' and Invoicecrdate le datetime'@{variables('d_enddate')}' ",
							"type": "Expression"
						},
						"httpRequestTimeout": "00:30:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						},
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true
				},
				"inputs": [
					{
						"referenceName": "DS_SAP_oData_InvoiceSales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Copy_DelimitedText_datalake",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"P_StartDate": {
				"type": "string",
				"defaultValue": "2019-11-01T00:00:00Z"
			},
			"P_EndDate": {
				"type": "string",
				"defaultValue": "2021-07-25T00:00:00Z"
			}
		},
		"variables": {
			"flag": {
				"type": "Boolean",
				"defaultValue": false
			},
			"startValue": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"fromDateRZ": {
				"type": "String"
			},
			"d_startdate": {
				"type": "String"
			},
			"d_enddate": {
				"type": "String"
			},
			"SQL_Table": {
				"type": "String",
				"defaultValue": "InvoiceSales"
			}
		},
		"folder": {
			"name": "QA/InvoiceSales"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-28T11:02:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}