pipeline/PL_PaymentDetails_Initial_Load_DateRange_oData_SQL.json
{
	"name": "PL_PaymentDetails_Initial_Load_DateRange_oData_SQL",
	"properties": {
		"activities": [
			{
				"name": "Loop Copy Activity",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "startValuefomPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flag'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "fromDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fromDate",
								"value": {
									"value": "@addToTime(variables('startValue'), 1, 'Day')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "startValue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "fromDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "startValue",
								"value": {
									"value": "@variables('fromDate')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "removeZ",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "fromDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fromDateRZ",
								"value": {
									"value": "@substring(variables('fromDate'), 0, 18)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "check startDate endDate",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "removeZ",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "startValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(adddays(variables('startValue'),0),adddays(pipeline().parameters.P_EndDate,1)) , 'true', 'false')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy PaymentDetails to SQL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ODataSource",
												"query": {
													"value": "$filter=CreatedDate eq datetime'@{variables('fromDateRZ')}'",
													"type": "Expression"
												},
												"httpRequestTimeout": "00:30:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Documentnumber",
															"type": "String"
														},
														"sink": {
															"name": "Documentnumber",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Item",
															"type": "String"
														},
														"sink": {
															"name": "Item",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Fiscalyear",
															"type": "String"
														},
														"sink": {
															"name": "Fiscalyear",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Companycode",
															"type": "String"
														},
														"sink": {
															"name": "Companycode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Salesorg",
															"type": "String"
														},
														"sink": {
															"name": "Salesorg",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Distchannel",
															"type": "String"
														},
														"sink": {
															"name": "Distchannel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Customer",
															"type": "String"
														},
														"sink": {
															"name": "Customer",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Customername",
															"type": "String"
														},
														"sink": {
															"name": "Customername",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Specialgltype",
															"type": "String"
														},
														"sink": {
															"name": "Specialgltype",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Specialglindicator",
															"type": "String"
														},
														"sink": {
															"name": "Specialglindicator",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Clearingdate",
															"type": "DateTime"
														},
														"sink": {
															"name": "Clearingdate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "Clearingdoc",
															"type": "String"
														},
														"sink": {
															"name": "Clearingdoc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Assignment",
															"type": "String"
														},
														"sink": {
															"name": "Assignment",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Postingdate",
															"type": "DateTime"
														},
														"sink": {
															"name": "Postingdate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "Documentdate",
															"type": "DateTime"
														},
														"sink": {
															"name": "Documentdate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "Referencedocnumber",
															"type": "String"
														},
														"sink": {
															"name": "Referencedocnumber",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Cdindicator",
															"type": "String"
														},
														"sink": {
															"name": "Cdindicator",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Businessarea",
															"type": "String"
														},
														"sink": {
															"name": "Businessarea",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Amouninloccur",
															"type": "Decimal"
														},
														"sink": {
															"name": "Amouninloccur",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "Amountindoccur",
															"type": "Decimal"
														},
														"sink": {
															"name": "Amountindoccur",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "Doccurrency",
															"type": "String"
														},
														"sink": {
															"name": "Doccurrency",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Itemtext",
															"type": "String"
														},
														"sink": {
															"name": "Itemtext",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Creditcontrolarea",
															"type": "String"
														},
														"sink": {
															"name": "Creditcontrolarea",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Salesoffice",
															"type": "String"
														},
														"sink": {
															"name": "Salesoffice",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Salesofficedes",
															"type": "String"
														},
														"sink": {
															"name": "Salesofficedes",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Salesdistrict",
															"type": "String"
														},
														"sink": {
															"name": "Salesdistrict",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "City",
															"type": "String"
														},
														"sink": {
															"name": "City",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Region",
															"type": "String"
														},
														"sink": {
															"name": "Region",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Reasonforreversal",
															"type": "String"
														},
														"sink": {
															"name": "Reasonforreversal",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Reasonforrevtext",
															"type": "String"
														},
														"sink": {
															"name": "Reasonforrevtext",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Salesgroup",
															"type": "String"
														},
														"sink": {
															"name": "Salesgroup",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Salesgroupdes",
															"type": "String"
														},
														"sink": {
															"name": "Salesgroupdes",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Ledger",
															"type": "String"
														},
														"sink": {
															"name": "Ledger",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Profitcenter",
															"type": "String"
														},
														"sink": {
															"name": "Profitcenter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Segment",
															"type": "String"
														},
														"sink": {
															"name": "Segment",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Amountincomcodecur",
															"type": "Decimal"
														},
														"sink": {
															"name": "Amountincomcodecur",
															"type": "Decimal"
														}
													},
													{
														"source": {
															"name": "Documenttype",
															"type": "String"
														},
														"sink": {
															"name": "Documenttype",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Documenttext",
															"type": "String"
														},
														"sink": {
															"name": "Documenttext",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Chequedetails",
															"type": "String"
														},
														"sink": {
															"name": "Chequedetails",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Fromamount",
															"type": "String"
														},
														"sink": {
															"name": "Fromamount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Toamount",
															"type": "String"
														},
														"sink": {
															"name": "Toamount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Date1",
															"type": "String"
														},
														"sink": {
															"name": "Date1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CreatedDate",
															"type": "DateTime"
														},
														"sink": {
															"name": "CreatedDate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "CreatedTime",
															"type": "TimeSpan"
														},
														"sink": {
															"name": "CreatedTime",
															"type": "TimeSpan"
														}
													},
													{
														"source": {
															"name": "ChangedDate",
															"type": "DateTime"
														},
														"sink": {
															"name": "ChangedDate",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "LastUpdate",
															"type": "DateTime"
														},
														"sink": {
															"name": "LastUpdate",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SAP_oData_PaymentDetails",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AzureSqlTable_Dynmamic",
												"type": "DatasetReference",
												"parameters": {
													"SQLTableName": {
														"value": "@variables('SQL_Table')",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "set Flag",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flag",
											"value": {
												"value": "@bool('true')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.00:00:00"
				}
			},
			{
				"name": "startValuefomPipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "delete old records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startValue",
					"value": {
						"value": "@subtractFromTime(pipeline().parameters.P_StartDate, 1, 'Day')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "updateWaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "New Watermark Time Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_update_watermark]",
					"storedProcedureParameters": {
						"TabName": {
							"value": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModifiedDate": {
							"value": {
								"value": "@activity('New Watermark Date Value').output.firstRow.maxDate",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"LastModifiedtime": {
							"value": {
								"value": "@activity('New Watermark Time Value').output.firstRow.maxTime",
								"type": "Expression"
							},
							"type": "Timespan"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "New Watermark Date Value",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Loop Copy Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(CreatedDate ) as maxDate FROM [dbo].[PaymentDetails]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "New Watermark Time Value",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "New Watermark Date Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(CreatedDate) as maxTime FROM [dbo].[PaymentDetails] where CreatedDate= ( select MAX(CreatedDate ) FROM [dbo].[PaymentDetails])",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_startdate",
					"value": {
						"value": "@substring(pipeline().parameters.P_StartDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Enddate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d_enddate",
					"value": {
						"value": "@substring(pipeline().parameters.P_EndDate,0,18)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delete old records",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Enddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_DeleteTable_DateRange]",
					"storedProcedureParameters": {
						"D_StartDate": {
							"value": {
								"value": "@variables('d_startdate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"D_EndDate": {
							"value": {
								"value": "@variables('d_enddate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@variables('SQL_Table')",
								"type": "Expression"
							},
							"type": "String"
						},
						"D_ColName": {
							"value": "CreatedDate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_StartDate": {
				"type": "string",
				"defaultValue": "2019-11-01T00:00:00Z"
			},
			"P_EndDate": {
				"type": "string",
				"defaultValue": "2021-07-25T00:00:00Z"
			}
		},
		"variables": {
			"flag": {
				"type": "Boolean",
				"defaultValue": false
			},
			"startValue": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			},
			"fromDateRZ": {
				"type": "String"
			},
			"d_startdate": {
				"type": "String"
			},
			"d_enddate": {
				"type": "String"
			},
			"SQL_Table": {
				"type": "String",
				"defaultValue": "PaymentDetails"
			}
		},
		"folder": {
			"name": "QA/PaymentDetails"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-28T11:02:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}