pipeline/PL_Process_If_Morethan_1L_records.json
{
	"name": "PL_Process_If_Morethan_1L_records",
	"properties": {
		"activities": [
			{
				"name": "Until1_copy1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('skip')), int(pipeline().parameters.pOdataSize))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Skip",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "skip",
								"value": {
									"value": "@variables('skipTmp')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "skipTmp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Skip",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "skipTmp",
								"value": {
									"value": "@string(add(int(variables('skip')),int(variables('top'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "skipTmp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ODataSource",
									"query": {
										"value": "$filter=@{pipeline().parameters.vColName} eq datetime'@{pipeline().parameters.pp}'&$skip=@{variables('skip')}&$top=@{variables('top')}&$format=json",
										"type": "Expression"
									},
									"httpRequestTimeout": "00:30:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"parallelCopies": 6,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "DS_SAP_OData_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"EntitySetName": {
											"value": "@pipeline().parameters.pEntitySet",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureSqlTable_Dynmamic",
									"type": "DatasetReference",
									"parameters": {
										"SQLTableName": {
											"value": "@pipeline().parameters.sqlTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"pp": {
				"type": "string"
			},
			"sqlTable": {
				"type": "string"
			},
			"pOdataSize": {
				"type": "string"
			},
			"vColName": {
				"type": "string"
			},
			"pEntitySet": {
				"type": "string"
			}
		},
		"variables": {
			"skip": {
				"type": "String",
				"defaultValue": "0"
			},
			"top": {
				"type": "String",
				"defaultValue": "50000"
			},
			"skipTmp": {
				"type": "String",
				"defaultValue": "0"
			},
			"eSize": {
				"type": "String"
			},
			"fFlag": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "QA"
		},
		"annotations": []
	}
}